###############################################################
# WhiteSource Unified-Agent configuration file
###############################################################
# GENERAL SCAN MODE: Files and Package Managers
###############################################################
# Organization vitals
######################

apiKey=40b7f1142601404eba153fcd82a5ba62774efd9b369d4925a23212875c79cd03
#userKey is required if WhiteSource administrator has enabled "Enforce user level access" option
#userKey=
#requesterEmail=user@provider.com

projectName=test-projectName

productName=test-productName

###########
# General #
###########
excludes=**/jquery-1.6.2.min.js